@import "../../node_modules/codyhouse-framework/main/assets/css/base";
@import "../../node_modules/codyhouse-framework/main/assets/css/custom-style";

/* -------------------------------- 

File#: _1_card-v2
Title: Card v2
Descr: Container of information used as teasers for further content, often displayed in a gallery of related items
Usage: codyhouse.co/license

-------------------------------- */

.card-v2 {
	margin-bottom: 1em;
	position: relative;
	overflow: hidden;
	border: gray solid 1px;

	img {
		display: block;
		width: 100%;
	}
}

.card-v2__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	// background: linear-gradient(alpha(var(--color-black), 0), alpha(var(--color-black), 1));
	// background-blend-mode: multiply;
	font-size: 2em;
	color: var(--color-white);
	text-shadow: 0 1px 1px rgba(#000, 0.35);
	@include fontSmooth;
}



// --link
a.card-v2 {
	display: block;
	text-decoration: none;
	transition: box-shadow 0.2s;

	&:hover {
		box-shadow: var(--shadow-md);
	}
}

/* -------------------------------- 

File#: _1_diagonal-section
Title: Diagonal Section
Descr: Section with diagonal edges
Usage: codyhouse.co/license

-------------------------------- */

:root {
	--diagonal-section-offset: 50px;
}

.diagonal-section {
	position: relative;
	z-index: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: whitesmoke;
	h1 {
		color: whitesmoke;
	}
	a {
		color: whitesmoke;
	}
}

@supports (clip-path: inset(50%)) {
	.diagonal-section,
	.diagonal-section-top.diagonal-section-bottom {
		padding-top: calc(var(--diagonal-section-offset) / 2);
		padding-bottom: calc(var(--diagonal-section-offset) / 2);
		clip-path: polygon(
			0% 0%,
			100% var(--diagonal-section-offset),
			100% 100%,
			0% calc(100% - var(--diagonal-section-offset))
		);
	}
}
/* -------------------------------- 

File#: _1_stacking-cards
Title: Stacking Cards
Descr: Cards stack effect on vertical scrolling
Usage: codyhouse.co/license

-------------------------------- */

.stack-cards {
	--stack-cards-gap: var(--space-sm); // cards gap on scrolling
	margin-right: 5%;
	margin-left: 5%;
	:nth-child(odd) {
		div {
			background-color: lightblue;
		}
	}
	// :last-child {
	// 	margin-bottom: 5em;
	// }
}

.stack-cards__item {
	position: relative; // fallback for browsers not supporting sticky position
	position: sticky;
	top: var(--space-md); // cards top position when they get fixed
	height: 0;
	padding-bottom: 50%; // 18:9 aspect ratio
	transform-origin: center top;
	> div{
		background-size: cover;
	}

	> * {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
/* ---------------------------------

File#: _1_feature-v6
Title: Feature v6
Descr: A section containing a list of features
Usage: codyhouse.co/license

-------------------------------- */

.feature-v6__item {
	margin: 20px;
	background-color: whitesmoke;
	width: 100%;
	img {
		display: block;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: var(--space-sm);
	}
}

/* -------------------------------- 

File#: _1_banner
Title: Banner
Descr: A CTA banner containing text + media
Usage: codyhouse.co/license

-------------------------------- */

.banner {
	position: relative;
	z-index: 1;
	box-shadow: var(--shadow-sm);
	transition: 0.3s;

	&:hover {
		box-shadow: var(--shadow-md);
	}
}

.banner__link {
	position: relative;
	text-decoration: none;
	color: inherit;
	display: inline-block;
	transition: 0.3s var(--ease-out);
	transform-origin: left bottom;

	i {
		// label
		position: relative;
		z-index: 2;
		display: inline-block;
		transition: 0.3s var(--ease-out);
	}

	&::after {
		// animated border
		content: "";
		background-color: currentColor;
		height: 2px;
		width: 100%;
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		transition: 0.3s var(--ease-out);
		opacity: 0.15;
	}
}

.banner__figure {
	height: 0;
	padding-bottom: 50%;
	transition: 0.3s var(--ease-out);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

// link animation + image scale up animation
.banner:hover {
	.banner__link {
		transform: scale(1.3);

		i {
			transform: scale(0.7); // reverse parent transformation
		}

		&::after {
			height: 100%;
		}
	}

	.banner__figure {
		transform: scale(1.05);
	}
}

@include breakpoint(md) {
	.banner__figure {
		height: 100%;
		padding-bottom: 0;
		clip-path: polygon(100px 0%, 100% 0%, 100% 100%, 50px 100%);
	}

	// invert variation
	.banner--invert {
		.banner__figure {
			clip-path: polygon(0% 0%, calc(100% - 100px) 0%, calc(100% - 50px) 100%, 0% 100%);
		}

		.banner__link {
			transform-origin: right bottom;
		}
	}

	.banner:hover .banner__figure {
		// clip animation - visible on big screens
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}
/* -------------------------------- 

File#: _1_radios-checkboxes
Title: Radios and Checkboxes
Descr: Custom radio and checkbox buttons
Usage: codyhouse.co/license

-------------------------------- */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	input[type="radio"] {
		--active: #275efe;
		--active-inner: #fff;
		--focus: 2px rgba(39, 94, 254, 0.3);
		--border: #bbc1e1;
		--border-hover: #275efe;
		--background: #fff;
		--disabled: #f6f8ff;
		--disabled-inner: #e1e6f9;
		-webkit-appearance: none;
		-moz-appearance: none;
		height: 21px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		cursor: pointer;
		border: 1px solid var(--bc, var(--border));
		background: var(--b, var(--background));
		transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
		&:after {
			content: "";
			display: block;
			left: 0;
			top: 0;
			position: absolute;
			transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
		}
		&:checked {
			--b: var(--active);
			--bc: var(--active);
			--d-o: 0.3s;
			--d-t: 0.6s;
			--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
		}
		&:disabled {
			--b: var(--disabled);
			cursor: not-allowed;
			opacity: 0.9;
			&:checked {
				--b: var(--disabled-inner);
				--bc: var(--border);
			}
			& + label {
				cursor: not-allowed;
			}
		}
		&:hover {
			&:not(:checked) {
				&:not(:disabled) {
					--bc: var(--border-hover);
				}
			}
		}
		&:focus {
			box-shadow: 0 0 0 var(--focus);
		}
		&:not(.switch) {
			width: 21px;
			&:after {
				opacity: var(--o, 0);
			}
			&:checked {
				--o: 1;
			}
		}
		& + label {
			font-size: 14px;
			line-height: 21px;
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
			margin-left: 4px;
		}
	}
	input[type="radio"] {
		border-radius: 50%;
		&:after {
			width: 19px;
			height: 19px;
			border-radius: 50%;
			background: var(--active-inner);
			opacity: 0;
			transform: scale(var(--s, 0.7));
		}
		&:checked {
			--s: 0.5;
		}
	}
}
// ------------------------------------------------
.doctors {
	padding-left: 2em;
	padding-right: 2em;
	justify-content: center;
	&:nth-child(1) {
		section {
			background: lightblue;
		}
	}
}

/* -------------------------------- 

File#: _1_list
Title: List
Descr: Custom list component
Usage: codyhouse.co/license

-------------------------------- */

.list, .text-component .list {
	--list-v-space: 1; // control vertical space
	--list-offset: 1;  // control offset of sublists
	padding-left: 0;
	list-style: none;
  
	ul, ol {
	  list-style: none;
	  margin: 0; // reset
	  margin-top: calc( var(--space-xxxs) * var(--list-v-space, 1));
	  padding-top: calc( var(--space-xxxs) * var(--list-v-space, 1));
	  padding-left: calc(var(--space-xs) * var(--list-offset, 1));
	}
  
	li {
	  padding-bottom: calc( var(--space-xxxs) * var(--list-v-space, 1));
	  margin-bottom: calc( var(--space-xxxs) * var(--list-v-space, 1));
	}
  
	> li:last-child, ul > li:last-child, ol > li:last-child {
	  margin-bottom: 0;
	}
  
	&:not(.list--border) > li:last-child, ul > li:last-child, ol > li:last-child {
	  padding-bottom: 0;
	}
  }
  
  .list--ul, .list--ol {
	li {
	  padding-left: calc(var(--bullet-size) + var(--bullet-margin-right));
	}
  
	li::before {
	  width: var(--bullet-size); 
	  height: var(--bullet-size);
	  margin-left: calc(var(--bullet-size) * -1);
	  display: inline-flex;
	  vertical-align: middle;
	  position: relative;
	  left: calc(var(--bullet-margin-right) * -1);
	}
  }
  
  .list--ul { // unordered list
	--bullet-size: 7px; // dot width and height
	--bullet-margin-right: var(--space-xxs); // gap between bullet and content
  
	li::before { // bullet
	  content: '';
	  border-radius: 50%;
	  color: var(--color-primary); // bullet color
	  background-color: currentColor;
	  border: 2px solid currentColor;
	}
  
	ul li::before {
	  background-color: transparent;
	}
  }
  
  .list--ol { // ordered list
	--bullet-size: 26px; // ⚠️ use px or rem units - circle width and height
	--bullet-margin-right: 6px; // ⚠️ use px or rem units - gap between circle and content
	counter-reset: list-items;
  
	li {
	  counter-increment: list-items;
	}
  
	ol {
	  counter-reset: list-items;
	}
  
	li::before {
	  content: counter(list-items);
	  font-size: 0.75em;
	  justify-content: center;
	  align-items: center;
	  top: -0.1em;
	  border-radius: 50%;
	  background-color: var(--color-contrast-lower);
	  border: 2px solid var(--color-contrast-lower);
	  color: var(--color-contrast-high);
	  @include fontSmooth;
	}
  
	ol li::before {
	  background-color: transparent;
	}
  }
  
  .list--border { // show divider among list items
	li {
	  border-bottom: 1px solid var(--color-contrast-low);
	}
  
	ul, ol {
	  border-top: 1px solid var(--color-contrast-low);
  
	  li:last-child {
		border-bottom-width: 0;
	  }
	}
  }