@import "./codyhouse.scss";

body {
    justify-content: center;
    align-items: center;
}
.item {
    justify-content: center;
}
.main-image {
    width: 100%;
    height: 30vh;
    //overflow: hidden;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 30vh;
    background-image: url("/img/hero.jpg");
    img {
        height: 100%;
    }
}
.header {
    font-size: 2em;
    position: sticky !important;
    top: 0;
    z-index: 999;
    box-shadow: 0 0.1em 0.3em 0px rgba(0, 0, 0, 0.3);
    background-color: #080e73;
    a {
        color: white !important;
    }
}
.footer {
    background-color: lightblue;
    box-shadow: 0 -0.2em 0.3em 0px rgba(0, 0, 0, 0.3);
    padding-left: 0 !important;
    padding-right: 0 !important;
    @media screen{
        i {
            font-size: 2em;
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }
    @media screen and (max-width: 412px){
        i {
            font-size: 1.5em;
        }
    }
    h2 {
        color: white;
    }
}
